<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>数据表格页面_AmaAdmin后台管理系统模板 - 源码之家</title>
<link rel="stylesheet" href="__PUBLIC__/Admin/css/style.default.css" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/custom/general.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/custom/tables.js"></script>
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="__PUBLIC__/Admin/css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="__PUBLIC__/Admin/css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
	<script src="__PUBLIC__/Admin/js/plugins/css3-mediaqueries.js"></script>
<![endif]-->
</head>

<body class="withvernav">
<div class="bodywrapper">
    <include file = 'Test/topheader' />  <!--包含头文件-->

    <include file = 'Test/header' /> <!--包含导航栏文件-->

    <include file = 'Test/leftmall' />   <!--包含商城左侧栏文件-->
        
    <div class="centercontent tables">
    
        <div class="pageheader notab">
            <h1 class="pagetitle">出售列表</h1>
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">


            <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable">
                <colgroup>
                    <col class="con0" />
                    <col class="con1" />
                    <col class="con0" />
                    <col class="con1" />
                    <col class="con0" />
                    <col class="con1" />
                    <col class="con0" />
                    <col class="con0" />
                </colgroup>
                <thead>
                <tr>
                    <th class="head0">ID</th>
                    <th class="head0">所属游戏</th>
                    <th class="head1">商品名称</th>
                    <th class="head1">商品图片</th>
                    <th class="head0">用户名称</th>
                    <th class="head1">商品价格</th>
                    <th class="head0">库存</th>
                    <th class="head1">状态</th>
                    <th class="head0">操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name='data' id='vol'>
                    <if condition="$vol.type == 0">
                    <tr>
                        <td>{$vol.swid}</td>
                        <td><if condition='$vol.gtype == 1'>CSGO
                            <elseif condition='$vol.gtype ==2'/>DOTA
                            <else/>&nbsp</if>
                        </td>
                        <td>{$vol.gid.name}</td>
                        <td><img width="60" height="40" src="http://t.codechm.com/{$vol.gid.icon}" alt=""></td>
                        <td>
                            <if condition='$vol.uid == 0'>wnv
                                <else/>{$vol.uid.name}</if>
                        </td>
                        <td>{$vol.price}</td>
                        <td>{$vol.nums}</td>
                        <td><if condition='$vol.status == 1'>出售中
                            <elseif condition='$vol.status ==2'/>已取消
                            <elseif condition='$vol.status ==3'/>完成
                            <else/>&nbsp</if>
                        </td>
                        <td class="center" url="__CONTROLLER__"><a href="javascript:;" data-id="{$vol.swid}" class="edit">编辑</a> &nbsp; <a href="javascript:;" data-id="{$vol.swid}" class="del">删除</a></td>
                    </tr>
                    </if>
                </volist>
                </tbody>
            </table>
            <!--<if condition='$vol.pid == 0'>顶级部门<else/>{$vol.parentName}</if>-->

        </div><!--contentwrapper-->
        
	</div><!-- centercontent -->

</div><!--bodywrapper-->
</body>
<script type="text/javascript" src="__PUBLIC__/Admin/js/showlist/showlist.js"></script>  <!--引入js实现编辑、删除、退出等事件-->
<script type="text/javascript">
    //解决$方法不能用的问题
    jQuery.noConflict();
    jQuery(document).ready(function($){
        //默认选中效果，箭头指向
        $(function(){
            $(".headermenu>li").eq(4).addClass("current").siblings().removeClass("current")
        });
    });
</script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/footer.js"></script>
</html>
