<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>数据表格页面_AmaAdmin后台管理系统模板 - 源码之家</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/style.default.css" type="text/css"/>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/custom/general.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/custom/tables.js"></script>
    <!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="__PUBLIC__/Admin/css/style.ie9.css"/><![endif]-->
    <link rel="stylesheet" media="screen" href="__PUBLIC__/Admin/css/style.ie8.css"/>
    <script src="__PUBLIC__/Admin/js/plugins/css3-mediaqueries.js"></script>
    <style type="text/css">
        div a#return{
            background:#BEEBEE;
            line-height:30px;
            font-size:20px;
            margin-left:1060px;
        }

        .app p{
            background:#BDEBEE;
            font-size: 20px;
            line-height: 40px;
            margin: 10px;

        }

        .app p strong{
            margin-left: 5px;
        }

        dl.controller{
            background:#BDEBEE;
            font-size: 16px;
            line-height: 30px;
            margin: 10px;
        }

        dl.controller dt strong{
            margin-left: 10px;
        }

        span.method{
            margin-left: 20px;
        }
    </style>

</head>
<body class="withvernav">
<div class="bodywrapper">
    <include file='Test/topheader'/> <!--包含头文件-->

    <include file='Test/header'/>  <!--包含导航栏文件-->

    <include file='Test/leftindex'/>  <!--包含系统管理左侧栏文件-->
    <div class="centercontent tables">
        <div class="pageheader notab">
            <h1 class="pagetitle">权限列表</h1>

        </div><!--pageheader-->
        <div id="wrap">
            <a id="return" href="{:U('role_list','','')}">返回</a>
            <form action="{:U('access_handle')}" method="post">
                <table class="table">
                    <foreach name="node" item="app">
                        <div class="app  " >
                            <p>
                                <strong>{$app.title}</strong>
                                <input type="checkbox" name="access[]" value="{$app.id}_1" level="1" <if condition="$app['access'] eq 1">checked="checked"</if>>
                            </p >
                            <foreach name="app.child" item="controller">
                                <div class="app_child">
                                    <dl class="controller">
                                        <dt>
                                            <strong>{$controller.title}</strong>
                                            <input type="checkbox" name="access[]" value="{$controller.id}_2" level="2" <if condition="$controller['access'] eq 1">checked="checked"</if>>
                                        </dt>
                                    </dl>
                                    <foreach name="controller.child" item="method">
                                <span class="method">
                                    <strong>{$method.title}</strong>
                                    <input type="checkbox" name="access[]" value="{$method.id}_3" level="3" <if condition="$method['access'] eq 1">checked="checked"</if>>
                                </span>
                                    </foreach>
                                    <div style="clear:both"></div>
                                </div>
                            </foreach>
                        </div>
                    </foreach>
                </table>
                <input type="submit" value="提交"  style="display: block; margin:0 auto; cursor:pointer">
                <input type="hidden" name="rid" value="{$rid}">
            </form>
        </div>
        <div id="contentwrapper" class="contentwrapper">
        </div>
    </div>

</div>

</body>
<script type="text/javascript" src="__PUBLIC__/Admin/js/showlist/showlist.js"></script>  <!--引入js实现编辑、删除、退出等事件-->
<script type="text/javascript">
    //解决$方法不能用的问题
    jQuery.noConflict();
    jQuery(document).ready(function ($) {
        //提交或清空方法
        $(function () {

            $('input[level=1]').click(function () {
                var inputs = $(this).parents('.app').find('input');
                $(this).prop('checked') == true ? inputs.prop('checked', true) : inputs.prop('checked', false);
            });
            $('input[level=2]').click(function () {
                var inputs = $(this).parents('.app_child').find('input');
                $(this).prop('checked') == true ? inputs.prop('checked', true) : inputs.prop('checked', false);
            });

            $(".headermenu>li").eq(0).addClass("current").siblings().removeClass("current")
        });
    });
</script>
</html>
