<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>数据表格页面_AmaAdmin后台管理系统模板 - 源码之家</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/style.default.css" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/custom/general.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/custom/tables.js"></script>
    <!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="__PUBLIC__/Admin/css/style.ie9.css"/>
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="__PUBLIC__/Admin/css/style.ie8.css"/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/Admin/js/plugins/css3-mediaqueries.js"></script>
    <![endif]-->
</head>

<body class="withvernav">
<div class="bodywrapper">
    <include file = 'Test/topheader' /> <!--包含头文件-->

    <include file = 'Test/header' />  <!--包含导航栏文件-->

    <include file = 'Test/leftindex' />  <!--包含系统管理左侧栏文件-->

    <div class="centercontent tables">

        <div class="pageheader notab">
            <h1 class="pagetitle">节点列表</h1>
            <span class="pagedesc">This is a sample description of a page</span>



        </div><!--pageheader-->

        <div id="contentwrapper" class="contentwrapper">
            <div class="contenttitle2">
                <h3><a href="{:U('add_node','','')}">添加模块</a></h3>

            </div><!--contenttitle-->


            <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable">
                <foreach name="node" item="app">
                    <div class="app">
                        <p>
                            <strong>{$app.title}</strong>
                            <a href="{:U('add_node',array('pid'=>$app['id'],'level'=>2),'')}">
                                [添加控制器]
                            </a>
                            <a href="">[修改]</a>
                            <a href="">[删除]</a>
                        </p>
                        <foreach name="app.child" item="controller">
                            <dl>
                                <dt>
                                    &nbsp;&nbsp;-
                                    <strong>{$controller.title}</strong>
                                    <a href="{:U('add_node',array('pid'=>$controller['id'],'level'=>3),'')}">
                                        [添加方法]
                                    </a>
                                    <a href="">[修改]</a>
                                    <a href="">[删除]</a>
                                </dt>

                                <foreach name="controller.child" item="method">
                                    <div>
                                        &nbsp;&nbsp;&nbsp;&nbsp;-
                                        <strong>{$method.title}</strong>
                                        <a href="">[修改]</a>
                                        <a href="">[删除]</a>
                                    </div>
                                </foreach>
                            </dl>
                        </foreach>
                    </div>
                </foreach>
            </table>

        </div><!--contentwrapper-->

    </div><!-- centercontent -->

</div><!--bodywrapper-->

</body>
<script type="text/javascript" src="__PUBLIC__/Admin/js/showlist/showlist.js"></script>  <!--引入js实现编辑、删除、退出等事件-->
<script type="text/javascript">
    //解决$方法不能用的问题
    jQuery.noConflict();
    jQuery(document).ready(function($){
        //提交或清空方法
        $(function(){
            $(".headermenu>li").eq(0).addClass("current").siblings().removeClass("current")
        });
    });
</script>
</html>
