<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>控制台页面_AmaAdmin后台管理系统模板 - 源码之家</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/style.default.css" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.flot.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/custom/general.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/custom/dashboard.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/plugins/excanvas.min.js"></script><![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="js/plugins/css3-mediaqueries.js"></script>
    <![endif]-->
</head>

<body class="withvernav">
<div class="bodywrapper">
    <include file = 'Test/topheader' />   <!--包含网页头文件-->


    <include file = 'Test/header' />   <!--包含导航文件-->

    <include file = 'Test/leftmember' />  <!--包含会员左侧栏-->


    <include file = 'Test/contentindex' />


</div><!--bodywrapper-->

</body>
<!--js代码关于退出操作-->
<script type="text/javascript">
    jQuery(function() {
        jQuery('.exit').click(function () {
            window.location.href = "/index.php/Admin/Public/logout";
        });
        jQuery(".headermenu>li").eq(7).addClass("current").siblings().removeClass("current")
    });
</script>
</html>
