<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    </body><div class="header">
    <ul class="headermenu">
        <li><a href="index.html"><span class="icon icon-flatscreen"></span>首页</a></li>
        <li><a href="battle.html"><span class="icon icon-speech"></span>对战中心</a></li>
        <li><a href="bigdata.html"><span class="icon icon-message"></span>大数据</a></li>
        <li><a href="guess.html"><span class="icon icon-pencil"></span>竞猜</a></li>
        <li><a href="mall.html"><span class="icon icon-chart"></span>商城</a></li>
        <li><a href="news.html"><span class="icon icon-flatscreen"></span>咨讯</a></li>
        <li><a href="active.html"><span class="icon icon-flatscreen"></span>活动管理</a></li>
        <li><a href="member.html"><span class="icon icon-chart"></span>会员管理</a></li>
    </ul>

    <!--<div class="headerwidget">-->
        <!--<div class="earnings">-->
            <!--<div class="one_half">-->
                <!--<h4>Today's Earnings</h4>-->
                <!--<h2>$640.01</h2>-->
            <!--</div>&lt;!&ndash;one_half&ndash;&gt;-->
            <!--<div class="one_half last alignright">-->
                <!--<h4>Current Rate</h4>-->
                <!--<h2>53%</h2>-->
            <!--</div>&lt;!&ndash;one_half last&ndash;&gt;-->
        <!--</div>&lt;!&ndash;earnings&ndash;&gt;-->
    <!--</div>&lt;!&ndash;headerwidget&ndash;&gt;-->

</div><!--header-->
</html>