<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="vernav2 iconmenu">
    <ul>
        <li><a href="#user" class="editor">用户管理</a>
            <span class="arrow"></span>
            <ul id="user">
                <li><a href="{:U('Rbac/user_list')}">用户列表</a></li>
                <li><a href="{:U('Rbac/add_user')}">添加用户</a></li>
            </ul>
        </li>

        <li><a href="#role" class="editor">角色管理</a>
            <span class="arrow"></span>
            <ul id="role">
                <li><a href="{:U('Rbac/role_list')}">角色列表</a></li>
                <li><a href="{:U('Rbac/add_role')}">添加角色</a></li>
            </ul>
        </li>

        <li><a href="#node" class="editor">节点管理</a>
            <span class="arrow"></span>
            <ul id="node">
                <li><a href="{:U('Rbac/node_list')}">节点列表</a></li>
                <li><a href="{:U('Rbac/add_node')}">添加模块</a></li>
            </ul>
        </li>

        <li><a href="#index" class="editor">banner管理</a>
            <span class="arrow"></span>
            <ul id="index">
                <li><a href="forms.html">列表展示</a></li>
                <li><a href="wizard.html">添加banner</a></li>
            </ul>
        </li>

        <li><a href="#addons" class="addons">其他页面</a>
            <span class="arrow"></span>
            <ul id="addons">
                <li><a href="newsfeed.html">新闻订阅</a></li>
                <li><a href="profile.html">资料页面</a></li>
                <li><a href="productlist.html">产品列表</a></li>
                <li><a href="photo.html">图片视频分享</a></li>
                <li><a href="gallery.html">相册</a></li>
                <li><a href="invoice.html">购物车</a></li>
            </ul>
        </li>
    </ul>
    <a class="togglemenu"></a>
    <br /><br />
</div><!--首页左侧栏-->
</body>
</html>