<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="vernav2 iconmenu">
    <ul>
        <li><a href="#user" class="editor">用户管理</a>
            <span class="arrow"></span>
            <ul id="user">
                <li><a href="{:U('Rbac/user_list')}">用户列表</a></li>
                <li><a href="{:U('Rbac/add_user')}">添加用户</a></li>
            </ul>
        </li>

        <li><a href="#role" class="editor">角色管理</a>
            <span class="arrow"></span>
            <ul id="role">
                <li><a href="{:U('Rbac/role_list')}">角色列表</a></li>
                <li><a href="{:U('Rbac/add_role')}">添加角色</a></li>
            </ul>
        </li>

        <li><a href="#node" class="editor">节点管理</a>
            <span class="arrow"></span>
            <ul id="node">
                <li><a href="{:U('Rbac/node_list')}">节点列表</a></li>
                <li><a href="{:U('Rbac/add_node')}">添加模块</a></li>
            </ul>
        </li>

        <li><a href="#banner" class="editor">banner管理</a>
            <span class="arrow"></span>
            <ul id="banner">
                <li><a href="{:U('Banner/showList')}">列表展示</a></li>
                <li><a href="{:U('Banner/add')}">添加banner</a></li>
            </ul>
        </li>

    </ul>
    <a class="togglemenu"></a>
    <br /><br />
</div><!--首页左侧栏-->
</body>
</html>