<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商城左侧栏</title>
	
</head>
<body>
    <div class="vernav2 iconmenu">
    <ul>

        <li><a href="#dota" class="drafts">DOTA英雄</a>
            <span class="arrow"></span>
            <ul id="dota">
                <li><a href="{:U('Dota/showList')}">英雄列表</a></li>
                <li><a href="{:U('Dota/add')}">添加英雄</a></li>
            </ul>
        </li>
        <li><a href="#csgo" class="drafts">CSGO武器</a>
            <span class="arrow"></span>
            <ul id="csgo">
                <li><a href="{:U('Csgo/showList')}">武器列表</a></li>
                <li><a href="{:U('Csgo/add')}">添加武器</a></li>
            </ul>
        </li>

        <li><a href="#goodsattr" class="elements">属性管理</a>
            <span class="arrow"></span>
            <ul id="goodsattr">
                <li><a href="{:U('Goodsattr/dotaList')}">英雄属性</a></li>
                <li><a href="{:U('Goodsattr/csgoList')}">武器属性</a></li>
                <li><a href="{:U('Goodsattr/add')}">添加属性</a></li>
            </ul>
        </li>

        <li><a href="#goods" class="drafts">商品管理</a>
            <span class="arrow"></span>
            <ul id="goods">
                <li><a href="{:U('Goods/showList')}">商品列表</a></li>
                <li><a href="{:U('Goods/add')}">添商品加</a></li>
            </ul>
        </li>

        <li><a href="#goodssell" class="sent">出售管理</a>
            <span class="arrow"></span>
            <ul id="goodssell">
                <li><a href="{:U('Goodssell/showList')}">出售列表</a></li>
                <li><a href="{:U('Goodssell/add')}">添加出售</a></li>
            </ul>
        </li>

        <li><a href="#goodswant" class="inbox">求购管理</a>
            <span class="arrow"></span>
            <ul id="goodswant">
                <li><a href="{:U('Goodswant/showList')}">求购列表</a></li>
                <!--<li><a href="{:U('Goodswant/add')}">添加求购</a></li>-->
            </ul>
        </li>

    </ul>
    <a class="togglemenu"></a>
    <br /><br />
</div><!--商城左侧栏-->
</body>
</html>