<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="vernav2 iconmenu">
    <ul>
        <li><a href="#news" class="editor">新闻中心</a>
            <span class="arrow"></span>
            <ul id="news">
                <li><a href="{:U('News/showList')}">新闻列表</a></li>
                <li><a href="{:U('News/add')}">添加新闻</a></li>
            </ul>
        </li>


        <li><a href="#newstype" class="addons">新闻类型</a>
            <span class="arrow"></span>
            <ul id="newstype">
                <li><a href="{:U('Newstype/showList')}">类型列表</a></li>
                <li><a href="{:U('Newstype/add')}">添加类型</a></li>

            </ul>
        </li>
    </ul>
    <a class="togglemenu"></a>
    <br /><br />
</div><!--新闻中心左侧栏文件-->
</body>
</html>