<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="vernav2 iconmenu">
    <ul>
        <li><a href="#task" class="calendar">任务管理</a>
            <span class="arrow"></span>
            <ul id="task">
                <li><a href="{:U('Task/showList')}">任务列表</a></li>
                <li><a href="{:U('Task/add')}">添加任务</a></li>
            </ul>
        </li>

        <li><a href="#user" class="typo">登录信息</a>
            <span class="arrow"></span>
            <ul id="user">
                <li><a href="{:U('Member/showList')}">信息列表</a></li>
                <!--<li><a href="{:U('Member/add')}">添加信息</a></li>-->
            </ul>
        </li>

        <li><a href="#detail" class="elements">会员详情</a>
            <span class="arrow"></span>
            <ul id="detail">
                <li><a href="{:U('Memberdetail/showList')}">详情列表</a></li>
                <!--<li><a href="{:U('Team/add')}">添加详情</a></li>-->
            </ul>
        </li>

        <!--<li><a href="#message" class="editor">会员评论</a>-->
            <!--<span class="arrow"></span>-->
            <!--<ul id="message">-->
                <!--<li><a href="{:U('Membermessage/showList')}">评论列表</a></li>-->
                <!--&lt;!&ndash;<li><a href="{:U('Membermessage/add')}">添加评论</a></li>&ndash;&gt;-->
            <!--</ul>-->
        <!--</li>-->

        <!--<li><a href="#replay" class="editor">评论回复</a>-->
            <!--<span class="arrow"></span>-->
            <!--<ul id="replay">-->
                <!--<li><a href="{:U('Replay/showList')}">评论回复列表</a></li>-->
                <!--&lt;!&ndash;<li><a href="{:U('Replay/add')}">添加评论</a></li>&ndash;&gt;-->
            <!--</ul>-->
        <!--</li>-->

        <li><a href="#property" class="drafts">会员资产</a>
            <span class="arrow"></span>
            <ul id="property">
                <li><a href="{:U('Memberproperty/showList')}">资产列表</a></li>
                <!--<li><a href="{:U('Team/add')}">添加资产</a></li>-->
            </ul>
        </li>

        <li><a href="#friend" class="addons">我的好友</a>
            <span class="arrow"></span>
            <ul id="friend">
                <li><a href="{:U('Friend/showList')}">好友列表</a></li>
                <li><a href="{:U('Friend/add')}">添加好友</a></li>
            </ul>
        </li>
        <li><a href="#mytask" class="error">我的任务</a>
            <span class="arrow"></span>
            <ul id="mytask">
                <li><a href="{:U('Membertask/showList')}">任务列表</a></li>
                <!--<li><a href="{:U('Membertask/add')}">添加好友</a></li>-->
            </ul>
        </li>


    </ul>
    <a class="togglemenu"></a>
    <br /><br />
</div><!--leftmenu-->
</body>
</html>