<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商城左侧栏</title>
</head>
<body>
<div class="vernav2 iconmenu">
    <ul>
        <li><a href="#rolls" class="support">活动管理</a>
            <span class="arrow"></span>
            <ul id="rolls">
                <li><a href="{:U('Rolls/showList')}">活动列表</a></li>
                <!--<li><a href="wizard.html">添加活动</a></li>-->
            </ul>
        </li>
        <li><a href="#formsub" class="tables">roll饰品</a>
            <span class="arrow"></span>
            <ul id="formsub">
                <li><a href="forms.html">饰品列表</a></li>
                <li><a href="wizard.html">添加饰品</a></li>
            </ul>
        </li>

        <li><a href="#formsub" class="addons">积分管理</a>
            <span class="arrow"></span>
            <ul id="formsub">
                <li><a href="forms.html">积分列表</a></li>
                <li><a href="wizard.html">添加积分</a></li>
            </ul>
        </li>

    </ul>
    <a class="togglemenu"></a>
    <br /><br />
</div><!--活动左侧栏-->
</body>
</html>