<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
    <div class="vernav2 iconmenu">
	<ul>

		<li><a href="#race" class="error">赛事管理</a>
			<span class="arrow"></span>
			<ul id="race">
				<li class="arrow">
					<a href="{:U('Race/showList')}">赛事列表</a></li>
				<li><a href="{:U('Race/add')}">添加赛事</a></li>
			</ul>
		</li>

		<li><a href="#racedetail" class="error">赛事详情</a>
			<span class="arrow"></span>
			<ul id="racedetail">
				<li class="arrow">
					<a href="{:U('Racedetail/showList')}">详情列表</a></li>
				<li><a href="{:U('Racedetail/add')}">添加详情</a></li>
			</ul>
		</li>

		<li><a href="#team" class="error">战队管理</a>
			<span class="arrow"></span>
			<ul id="team">
				<li><a href="{:U('Team/showList')}">战队列表</a></li>
				<li><a href="{:U('Team/add')}">添加战队</a></li>
			</ul>
		</li>

		<li><a href="#teammember" class="tables">战队成员</a>
			<span class="arrow"></span>
			<ul id="teammember">
				<li><a href="{:U('Teammember/showList')}">成员列表</a></li>
				<li><a href="{:U('Teammember/add')}">添加成员</a></li>
			</ul>
		</li>

	</ul>
	<a class="togglemenu"></a>
	<br /><br />
</div><!--对战中心左侧栏-->
</body>
</html>