<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>数据表格页面_AmaAdmin后台管理系统模板 - 源码之家</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/style.default.css" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/custom/general.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/custom/tables.js"></script>
    <!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="__PUBLIC__/Admin/css/style.ie9.css"/>
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="__PUBLIC__/Admin/css/style.ie8.css"/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/Admin/js/plugins/css3-mediaqueries.js"></script>
    <![endif]-->
</head>

<body class="withvernav">
<div class="bodywrapper">
    <include file = 'Test/topheader' />  <!--包含头文件-->

    <include file = 'Test/header' />  <!--包含导航栏文件-->

    <include file = 'Test/leftbattle' />  <!--包含对战中心左侧栏文件-->

    <div class="centercontent tables">

        <div class="pageheader notab">
            <h1 class="pagetitle">赛事详情</h1>
            <span class="pagedesc">This is a sample description of a page</span>

        </div><!--pageheader-->

        <div id="contentwrapper" class="contentwrapper">


            <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable">
                <colgroup>
                    <col class="con0" />
                    <col class="con1" />
                    <col class="con0" />
                    <col class="con1" />
                    <col class="con0" />
                </colgroup>
                <thead>
                <tr>
                    <th class="head0">详情ID</th>
                    <th class="head1">姓名</th>
                    <th class="head0">手机号</th>
                    <th class="head1">QQ</th>
                    <th class="head0">开始时间</th>
                    <th class="head1">结束时间</th>
                    <th class="head0">报名开始时间</th>
                    <th class="head1">报名结束时间</th>
                    <th class="head1">赛区ID</th>
                    <th class="head1">报名费用</th>
                    <th class="head1">队伍个数</th>
                    <th class="head1">联系方式</th>
                    <th class="head0">简介</th>
                    <th class="head1">操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name='data' id='vol'>
                    <tr>
                        <td>{$vol.rid}</td>
                        <td>{$vol.owner_name}</td>
                        <td>{$vol.phone}</td>
                        <td>{$vol.qq}</td>
                        <td>{$vol.start_time}</td>
                        <td>{$vol.end_time}</td>
                        <td>{$vol.join_start_time}</td>
                        <td>{$vol.join_end_time}</td>
                        <td>{$vol.did}</td>
                        <td>{$vol.join_cost}</td>
                        <td>{$vol.expect_joins}</td>
                        <td><if condition='$vol.contact == 1'>手机
                            <elseif condition='$vol.contact ==2'/>微信
                            <elseif condition='$vol.contact ==3'/>qq
                            <else/>&nbsp</if>
                        </td>
                        <td>{$vol.desc}</td>
                        <td class="center" url="__CONTROLLER__"><a href="javascript:;" data-id="{$vol.rid}" class="edit">编辑</a> &nbsp; <a href="javascript:;" data-id="{$vol.rid}" class="del">删除</a></td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <!--<if condition='$vol.pid == 0'>顶级部门<else/>{$vol.parentName}</if>-->



        </div><!--contentwrapper-->

    </div><!-- centercontent -->


</div><!--bodywrapper-->

</body>
<script type="text/javascript" src="__PUBLIC__/Admin/js/showlist/showlist.js"></script>  <!--引入js实现编辑、删除、退出等事件-->
<script type="text/javascript">
    //解决$方法不能用的问题
    jQuery.noConflict();
    jQuery(document).ready(function($){
        //提交或清空方法
        $(function(){
            $(".headermenu>li").eq(1).addClass("current").siblings().removeClass("current")
        });
    });
</script>
</html>
